<html>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/vote.css') }}">
  
  <body>
    
    <form  action="" method="POST">
      
      <div id="parent" class="radio-toolbar">
        
        <div id="wide">
          {% for ele in candidates1 %}
            <input type="radio" id="{{ele}}" name="candidate" value="{{ele}}">
            <label onClick = "(function() {document.getElementById('submit').style.visibility = 'visible';})()" for="{{ele}}">{{ele}}</label><br><br>
          {% endfor %}
        </div>
        
        <div id="narrow">
            {% for ele in candidates2 %}
              <input type="radio" id="{{ele}}" name="candidate" value="{{ele}}">
              <label onClick = "(function() {document.getElementById('submit').style.visibility = 'visible';})()" for="{{ele}}">{{ele}}</label><br><br>
            {% endfor %}
        </div>
      
      </div>
      
      <input id = "submit" type="submit" value="Submit">
    
    </form>
  
  </body>
</html>